/* .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
}

.header_message {
  font-family: Helvetica;
  font-size: 11px;
  white-space: pre;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  align-items: center;
  margin: 0 20px;
}

.header_icons {
  align-items: right;
  width: 100%;
  padding: 5px;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.header_logo, .header_icons {
  cursor: pointer;
}

.header_icons {
  list-style: none;
}

.header_icons li {
  display: inline-block;
  padding: 0px 20px;
}

.header_icons li a {
  transition: all 0.3s ease 0s;
}
