.signin {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin_logo {
  object-fit: contain;
  margin: 20px;
  width: 100px;
}

.signin_box {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
}

.signin_box > h1 {
  font-weight: 400;
  margin-bottom: 20px;
}

.signin_box > form > h5 {
  margin-bottom: 5px;
}

.signin_box > form > h4 {
  font-weight: 400;
}

.signin_box > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.signinButton {
  background-color: black;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  color: white;
}

.signupButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
}
